body{
    background: rgb(2,0,36);
    background: #5E7BFC;
}

.grid{
    display: grid;
    grid-template-columns: 200px 200px 200px;
}
.row{
    margin-bottom: 18px;
}
.container{
    background: white;
}
.circular--square {
    border-radius: 100%;
    width: 50%;
}