body{
    background-image: url("https://www.agendaempresa.com/wp-content/uploads/2019/11/plan-marketing-puestos-mercado.jpg");
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}

*{
    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    padding: 15px;
}

.formulario{
    background: rgb(43, 89, 218);
    margin-top: 150px;
    padding: 3px;
}

h1{
    text-align: center;
    color: #ffffff;
    font-size: 40px;
}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: none;
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
    width: 100%;
}

.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}

.btn{
    border:none;
    width: 100%;
    color: white;
    font-size: 20px;
    background-color: #1a2537;
    padding: 15px 20px;
    border-radius: 7px;
    cursor: pointer;
}
.btn:hover{
    background: rgb(95, 160, 137);
}
p{
    text-align: center;
}

.link{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}
.link:hover{
    background: rgb(165, 185, 178);
}

@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}